﻿
<!doctype html>
<html lang="en">


<!-- Mirrored from themesbrand.com/skote/layouts/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Feb 2022 13:15:11 GMT -->
<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" />

</head>

<body data-sidebar="dark">
    @*@Session.Timeout*@
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                
                <div class="d-flex">

                    

                   

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="@Session["ProfilePic"]"
                                 alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1" key="t-henry">@Session["UserName"]</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="/UserProfile/UserProfile"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">Profile</span></a>
                            @*<a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle me-1"></i> <span key="t-my-wallet">My Wallet</span></a>*@
                            @*<a class="dropdown-item d-block" href="/UserProfile/UserProfile"><span class="badge bg-success float-end">11</span><i class="bx bx-wrench font-size-16 align-middle me-1"></i> <span key="t-settings">Settings</span></a>*@
                            @*<a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle me-1"></i> <span key="t-lock-screen">Lock screen</span></a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/UserLogin/SignOut"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">Logout</span></a>
                        </div>
                    </div>
                    <div class="dropdown d-inline-block">
                        <button onclick="window.location.href='/AdminCareer/JobEntry';" type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           
                            <span class="d-none d-xl-inline-block ms-1" key="t-henry">Job Entry</span>
                         </button>
                        
                    </div>
                     <div class="dropdown d-inline-block">
                        <button onclick="window.location.href='/AdminCareer/JobApplicationByCV';" type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           
                            <span class="d-none d-xl-inline-block ms-1" key="t-henry">Job Submitted By CV</span>
                         </button>
                        
                    </div>
                    <div class="dropdown d-inline-block">
                        <button onclick="window.location.href='/AdminCareer/JobApplicationByEntry';" type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           
                            <span class="d-none d-xl-inline-block ms-1" key="t-henry">Job Submitted By Form</span>
                         </button>
                        
                    </div>
                    <div class="dropdown d-inline-block">
                        <button onclick="window.location.href='/Career/JobCercular';" type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           
                            <span class="d-none d-xl-inline-block ms-1" key="t-henry">Back To Job Portal</span>
                         </button>
                        
                    </div>
                    
                </div>
            </div>
        </header>


        
        @RenderBody()
       
    <div class="rightbar-overlay"></div>
    @RenderSection("scripts", required: false)

    <!-- Responsive Table js -->


    <script src="~/assets/js/app.js"></script>

    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>

    <!-- apexcharts -->

    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <!-- dashboard init -->
    <script src="~/assets/js/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
</body>


</html>